/* -----------------------
Base styles
------------------------*/

body
{
	margin: 0;
	padding: 0;
	background-image: url('../img/bg.jpg');
	background-image: 100%;
	font: 12px "Century Gothic", Helvetica, Arial, Geneva, sans-serif;
}

.content .main h1{
	 color: #9ddb9c;
	 text-align: center;
         font-size: 2.70em;
         margin: 0 0 .5em;
	font-weight: 500;
	line-height: 1.1;
}


h1 { font-size: 2.25em;} /* 36px */
h2 { font-size: 1.75em; } /* 28px */
h3 { font-size: 1.375em; } /* 22px */
h4 { font-size: 1.125em; text-align: center !important;} /* 18px */
h5 { font-size: 1em; } /* 16px */
h6 { font-size: .875em; } /* 14px */

#info
{
	margin: 0 0 1.5em;
	line-height: 1.5;	
	text-align: center;
        color: #fff;
	padding: 1em 1.25em;
	font-size: 17px;
}

/* -----------------------
Layout styles
------------------------*/

.container
{

	margin: 0 auto;
}

.header
{
	color: #fff;
    text-align: center;
    font-size: 17px;
	
}

.header img{
	float:left;
}

.content { padding: 1em 1.25em; }



/* -----------------------
Single styles
------------------------*/

.img-responsive { max-width: 100%; }

#done
{
    -moz-box-shadow:inset 0px 1px 0px 0px #9acc85;
	-webkit-box-shadow:inset 0px 1px 0px 0px #9acc85;
	box-shadow:inset 0px 1px 0px 0px #9acc85;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #74ad5a), color-stop(1, #68a54b));
	background:-moz-linear-gradient(top, #74ad5a 5%, #68a54b 100%);
	background:-webkit-linear-gradient(top, #74ad5a 5%, #68a54b 100%);
	background:-o-linear-gradient(top, #74ad5a 5%, #68a54b 100%);
	background:-ms-linear-gradient(top, #74ad5a 5%, #68a54b 100%);
	background:linear-gradient(to bottom, #74ad5a 5%, #68a54b 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#74ad5a', endColorstr='#68a54b',GradientType=0);
	background-color:#74ad5a;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	border:1px solid #3b6e22;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	padding:6px 12px;
	text-decoration:none;
	border-style: none !important;
        width: 15em;
        font-size: 20px;
        height: 50px;
		text-align: center !important;
}

#done:hover{
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #68a54b), color-stop(1, #74ad5a));
	background:-moz-linear-gradient(top, #68a54b 5%, #74ad5a 100%);
	background:-webkit-linear-gradient(top, #68a54b 5%, #74ad5a 100%);
	background:-o-linear-gradient(top, #68a54b 5%, #74ad5a 100%);
	background:-ms-linear-gradient(top, #68a54b 5%, #74ad5a 100%);
	background:linear-gradient(to bottom, #68a54b 5%, #74ad5a 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#68a54b', endColorstr='#74ad5a',GradientType=0);
	background-color:#68a54b;
}

.buttons{
	text-align: center !important;
}


#link{
	color: #9ddb9c;
	text-decoration: underline;
}

#link:hover{
	color: #fff;
}

.contact{
	border-right: 2px solid #374039;
	font-size: 12px !important;
	color: #9ddb9c !important;
}

.contact2{
	margin-top: 40px;
}

.list-unstyled
{
	padding-left: 0;
	list-style: none;
}

.list-inline
{
	padding-left: 0;
	margin-left: -5px;
	list-style: none;
}

.list-inline > li
{
	display: inline-block;
	padding-right: 5px;
	padding-left: 5px;
}

/* -----------------------
Wide styles
------------------------*/

@media (min-width: 42em)
{
	.header { padding: 1.5em 3em; }
	.nav-bar { padding: 1em 3em; }
	.content { padding: 2em 3em; }
	.footer { padding: 2em 3em; }	
}

@media print {
  .header , .footer, #heading, .main p{
    display: none;
  }
  .form {
    visibility: visible;
  }
  .form{
    border: red 2px solid;
  }
}



/* -----------------------
Footer
------------------------*/

.footer {
	background: #EDEFF1;
	height: auto;
	padding-bottom: 30px;
	position: relative;
	width: 100%;
	border-bottom: 1px solid #CCCCCC;
	border-top: 1px solid #DDDDDD;
	text-align: center !important;
}

.footer p {
	margin: 0;
        color: #78828D;
        
}

.footer h3 {
	border-bottom: 1px solid #BAC1C8;
	color: #54697E;
	font-size: 18px;
	font-weight: 600;
	line-height: 27px;
	text-transform: uppercase;
        text-align: center !important;
}
.footer ul {
	font-size: 15px;
	list-style-type: none;
	margin-left: 0;
	padding-left: 0;
	color: #7F8C8D;
        text-align: center;
}
.footer ul li a {
	padding: 0 0 5px 0;
	display: block;
}
.footer a {
	color: #78828D
}

.bg-gray {
	background-image: -moz-linear-gradient(center bottom, #BBBBBB 0%, #F0F0F0 100%);
	box-shadow: 0 1px 0 #B4B3B3;
}
.footer-bottom {
	background: #E3E3E3;
	border-top: 1px solid #DDDDDD;
	padding-top: 10px;
	padding-bottom: 10px;
        color: #000 !important;
}
.footer-bottom p {
	padding-top: 6px;
          color: #000 !important;
		  text-align: center !important;
		  font-size: 15px !important;
         
}

@media print {
  .header , .footer, #heading, .buttons, .footer-bottom{
    display: none;
  }
.bpform  , #bp-info{
    visibility: visible;
  }

}

