/* -----------------------
Base styles
------------------------*/

body
{
	margin: 0;
	padding: 0;
	background-image: url('../img/bg.jpg');
	background-image: 100%;
	font: 1em/1.2 "Century Gothic", Helvetica, Arial, Geneva, sans-serif;
}

h1,h2,h3,h4,h5,h6
{
	margin: 0 0 .5em;
	font-weight: 500;
	line-height: 1.1;

}

.content .main h1
{
	 color: #9ddb9c;
	 text-align: center;
}

h1 { font-size: 2.25em;} /* 36px */
h2 { font-size: 1.75em; color: #9ddb9c !important;} /* 28px */
h3 { font-size: 1.375em; } /* 22px */
h4 { font-size: 1.325em; color: #fff!important;  } /* 18px */
h5 { font-size: 1em; color: #fff!important; } /* 16px */
h6 { font-size: .875em; } /* 14px */

p
{
	margin: 0 0 1.5em;
	line-height: 1.5;
	color: #fff;
	text-align: center;
         font-size: 17px;
}



hr
{
	height: 0;
	margin-top: 1em;
	margin-bottom: 2em;
	border: 0;
	border-top: 1px solid #ddd;
}

table
{
	background-color: transparent;
	border-spacing: 0;
	border-collapse: collapse;
	border-top: 1px solid #ddd;
         font-size: 17px;
}

th, td
{
	padding: .5em 1em;
	vertical-align: top;
	text-align: left;
	border-bottom: 1px solid #ddd;
         font-size: 17px;
}


.form-signin 
{
  max-width: 380px;
  padding: 15px 35px 45px;
  margin: 0 auto; 
}


/* -----------------------
Search
------------------------*/

.dropdown.dropdown-lg .dropdown-menu 
{
    margin-top: -1px;
    padding: 6px 20px;
}

.input-group-btn .btn-group 
{
    display: flex !important;
}

.btn-group .btn 
{
    border-radius: 0;
    margin-left: -1px;
}

.btn-group .btn:last-child 
{
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.btn-group .form-horizontal .btn[type="submit"] 
{
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.form-horizontal .form-group 
{
    margin-left: 0;
    margin-right: 0;
}

.form-group .form-control:last-child 
{
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

@media screen and (min-width: 768px) 
{
    #adv-search {
        width: 500px;
        margin: 0 auto;
    }
    .dropdown.dropdown-lg {
        position: static !important;
    }
}

/* -----------------------
Table
------------------------*/

h2 
{
  text-align: center;
}

table caption 
{
	padding: .5em 0;
}

@media screen and (max-width: 767px) 
{
  table caption {
    border-bottom: 1px solid #ddd;
  }
}

.p 
{
  text-align: center;
  padding-top: 140px;
  font-size: 14px;
}

.table
{
	width: 100%;
	max-width: 100%;
	border-radius: 4px;
	border: none;
	min-height: 300px;
}
/* -----------------------
Layout styles
------------------------*/

.container
{
	margin: 0 auto;
}

.header
{
	color: #fff;
         padding: 1em 1.25em;
	
}

.header-heading { margin: 0; border: 2px solid red;}

.nav-bar
{
	background: #000;
	padding: 0;
}

.content { padding: 1em 1.25em; }


/* -----------------------
Nav
------------------------*/

.nav
{
	margin: 0;
	padding: 0;
	list-style: none;
}

.nav li
{
	display: inline-block;
	color: black;
}





/* -----------------------
Sort
------------------------*/

.col-md-4
{
	width: 30px;
}


/* -----------------------
Single styles
------------------------*/
#addAccount
{
	margin-top: -20px;
}


#searchIcon, #filter
{
	-moz-box-shadow:inset 0px 1px 0px 0px #9acc85;
	-webkit-box-shadow:inset 0px 1px 0px 0px #9acc85;
	box-shadow:inset 0px 1px 0px 0px #9acc85;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #74ad5a), color-stop(1, #68a54b));
	background:-moz-linear-gradient(top, #74ad5a 5%, #68a54b 100%);
	background:-webkit-linear-gradient(top, #74ad5a 5%, #68a54b 100%);
	background:-o-linear-gradient(top, #74ad5a 5%, #68a54b 100%);
	background:-ms-linear-gradient(top, #74ad5a 5%, #68a54b 100%);
	background:linear-gradient(to bottom, #74ad5a 5%, #68a54b 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#74ad5a', endColorstr='#68a54b',GradientType=0);
	background-color:#74ad5a;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	border:1px solid #3b6e22;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	padding:6px 12px;
	text-decoration:none;
	border-style: none !important;
	text-align: center;
        
}

 #addAccount, #viewReq
 {
	-moz-box-shadow:inset 0px 1px 0px 0px #9acc85;
	-webkit-box-shadow:inset 0px 1px 0px 0px #9acc85;
	box-shadow:inset 0px 1px 0px 0px #9acc85;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #74ad5a), color-stop(1, #68a54b));
	background:-moz-linear-gradient(top, #74ad5a 5%, #68a54b 100%);
	background:-webkit-linear-gradient(top, #74ad5a 5%, #68a54b 100%);
	background:-o-linear-gradient(top, #74ad5a 5%, #68a54b 100%);
	background:-ms-linear-gradient(top, #74ad5a 5%, #68a54b 100%);
	background:linear-gradient(to bottom, #74ad5a 5%, #68a54b 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#74ad5a', endColorstr='#68a54b',GradientType=0);
	background-color:#74ad5a;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	border:1px solid #3b6e22;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	padding:6px 12px;
	text-decoration:none;
	border-style: none !important;
	text-align: center;
        width: 10em;
        font-size: 20px;
}


#searchIcon:hover, #filter:hover, #addAccount:hover,#viewReq:hover 
{
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #68a54b), color-stop(1, #74ad5a));
	background:-moz-linear-gradient(top, #68a54b 5%, #74ad5a 100%);
	background:-webkit-linear-gradient(top, #68a54b 5%, #74ad5a 100%);
	background:-o-linear-gradient(top, #68a54b 5%, #74ad5a 100%);
	background:-ms-linear-gradient(top, #68a54b 5%, #74ad5a 100%);
	background:linear-gradient(to bottom, #68a54b 5%, #74ad5a 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#68a54b', endColorstr='#74ad5a',GradientType=0);
	background-color:#68a54b;
}

#searchIcon:active, #filter:active, #addAccount:active,#viewReq:active 
{
	position:relative;
	top:1px;
}

#viewReq
{
	border-radius: 4px;
	background-color: #fff;
	border: #fff outset 2px;

}

.col-md-6 p
{
	text-align: left;
}

.img-responsive { max-width: 100%; }

.btn1
{
	color: #374039;
	background-color: #9ddb9c;
	border-color: #222;
	display: inline-block;
	padding: .7em;
	width: 10em;
	font-weight: 400;
	line-height: 1.2;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	border: 1px solid transparent;
	border-radius: 2em !important;
	text-decoration: none;
}

.btn1:hover
{
	color: #fff !important;
	background-color: green;
	text-decoration: none;
}


.btn2
{
	color: #9ddb9c;
	border-color: #222;
	display: inline-block;
	padding: .7em;
	width: 10em;
	font-weight: 400;
	line-height: 1.2;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	border: 1px solid #9ddb9c;
	border-radius: 2em;
	text-decoration: none;
}

.btn2:hover
{
	color: #fff !important;
	background-color: green;
	border: 1px solid transparent;
	text-decoration: none;
}

.buttons
{
	text-align: center;
}

#link
{
	color: #9ddb9c;
	text-decoration: underline;
}

#link:hover
{
	color: #fff;
}

.contact
{
	border-right: 2px solid #374039;
	font-size: 12px !important;
	color: #9ddb9c !important;
}

.contact2
{
	margin-top: 40px;
}



.list-unstyled
{
	padding-left: 0;
	list-style: none;
}

.list-inline
{
	padding-left: 0;
	margin-left: -5px;
	list-style: none;
}

.list-inline > li
{
	display: inline-block;
	padding-right: 5px;
	padding-left: 5px;
}



/* -----------------------
Wide styles
------------------------*/

@media (min-width: 42em)
{
	.header { padding: 1.5em 3em; }
	.nav-bar { padding: 1em 3em; }
	.content { padding: 2em 3em; }
	.footer { padding: 2em 3em; }
	
	.nav li
	{
		display: inline;
		margin: 0 1em 0 0;
	}
	
	.nav a
	{
		display: inline;
		padding: 0;
		border-bottom: 0;
	}


}

/*Additional css for the popup (paki modify)*/
#add-account-popup-div{
	color: black;
        max-width: 490px;
    padding: 15px 35px 45px;
    margin: 0 auto; 
    min-width: 490px;
        
}

#edit-account-popup-div{
	color: black;
}

.ui-widget{
	/*insert whatever (whole widget)*/
	background-color: gray;
}

.ui-widget-header, .ui-state-default, ui-button{
	background: #b9cd6d;;
	border: 1px solid #b9cd6d;
    color: #FFFFFF;
    font-weight: bold;
}

#dialog-buttons{
	/*insert whatever (buttons)*/
}

.editAcc, .delAcc{
	-moz-box-shadow:inset 0px 1px 0px 0px #9acc85;
	-webkit-box-shadow:inset 0px 1px 0px 0px #9acc85;
	box-shadow:inset 0px 1px 0px 0px #9acc85;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #74ad5a), color-stop(1, #68a54b));
	background:-moz-linear-gradient(top, #74ad5a 5%, #68a54b 100%);
	background:-webkit-linear-gradient(top, #74ad5a 5%, #68a54b 100%);
	background:-o-linear-gradient(top, #74ad5a 5%, #68a54b 100%);
	background:-ms-linear-gradient(top, #74ad5a 5%, #68a54b 100%);
	background:linear-gradient(to bottom, #74ad5a 5%, #68a54b 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#74ad5a', endColorstr='#68a54b',GradientType=0);
	background-color:#74ad5a;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	border:1px solid #3b6e22;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	padding:6px 12px;
	text-decoration:none;
	border-style: none !important;
	text-align: center;
        width: 7em;
        font-size: 15px;
}

.view-account-p{
	color: black;
	text-align: left;
}


/* -----------------------
Footer
------------------------*/

.footer {
	background: #EDEFF1;
	height: auto;
	padding-bottom: 30px;
	position: relative;
	width: 100%;
	border-bottom: 1px solid #CCCCCC;
	border-top: 1px solid #DDDDDD;
}
.footer p {
	margin: 0;
        
}

.footer h3 {
	border-bottom: 1px solid #BAC1C8;
	color: #54697E;
	font-size: 18px;
	font-weight: 600;
	line-height: 27px;
	text-transform: uppercase;
        text-align: center;
}
.footer ul {
	font-size: 15px;
	list-style-type: none;
	margin-left: 0;
	padding-left: 0;
	color: #7F8C8D;
        text-align: center;
}
.footer ul li a {
	padding: 0 0 5px 0;
	display: block;
}
.footer a {
	color: #78828D
}

.bg-gray {
	background-image: -moz-linear-gradient(center bottom, #BBBBBB 0%, #F0F0F0 100%);
	box-shadow: 0 1px 0 #B4B3B3;
}
.footer-bottom {
	background: #E3E3E3;
	border-top: 1px solid #DDDDDD;
	padding-top: 10px;
	padding-bottom: 10px;
        color: #000 !important;
}
.footer-bottom p {
	padding-top: 6px;
          color: #000 !important;
         
}

.ui-dialog{
	z-index: 90000;
}

#black{
	color: black;
}

#admin-home-table th{
	color: #404040;
}
