html{
	height: 100%;
}

#target-2{
	width: 1200px;
	height: 2125px;
	background:white;
}

.nso-box-row{
	display: table-row;
}
#p-no{
	float: left;
	margin-left: 50px;
	margin-top: 0px;
	margin-right: 0px;
}


#nso-box-2{
	margin-top: 30px;
	float:right;
	height: 560px;
	width: 400px;

}

#nso-box-table{
	width: 180px;
	height: 550px;
	border: 1px solid black;
	display: table;
	table-layout: fixed;
	background-color: white;

}

.nso-box-row{
	display: table-row;
}

.nso-box-cell{
	border: 1px solid black;
	width: 35px;
	height: 35px;
	display: table-cell;
	padding: 0px;
	margin: 0px;
}

.bb{
	width: 35px;
	height: 35px;
	display: table-cell;
	background-color: black;
	float: left;
}

.wb{
	width: 25px;
	height: 35px;
	display: table-cell;
	background-color: white;
	float: left;
}
#box-3a{

	height: 300px;
	width: 800px;
}

#box-3a-r1-c1{
	border: 1px solid black;
	height: 300px;
	width: 350px;
	float: left;
}
#box-3a-r1-c1-d1{
	margin:0px;
}
#box-3a-r1-c1-d2{
	margin: 0px;
	margin-left:150px;
	margin-top:-240px;
	float:left;

}
#box-3a-r1-c1-d2-i{
	width: 150px;
	margin-left: 20px;
	margin-top: -30px;
}

#box-3a-r1-c2{
	margin-left:350px;
	border: 1px solid black;
	height: 300px;
	width: 145px;
}
#box-3a-r1-c2-d2-i{
	width: 100px;
	margin-top: -30px;
	margin-left: 20px;
}

#box-3a-r1-c3{
	margin-top: -302px;
	margin-right:0px;
	border: 1px solid black;
	height: 300px;
	width: 300px;
	float:right;
	
}
#box-3a-r1-c3-d1-i{
	width: 120px;
	float: right;
	margin-top: -35px;
	margin-right: 15px;
}
.sow-i-tmplt{
	font-size: 12px;
	height: 15px;
	border-bottom: 1px solid black;
	float: left;	
}

#box-4{
	margin-top: 30px;
	float : left;
	height: 400px;
	width: 798px;
}
#box-4-r2-table{
	margin-top: 0px;
	float : left;
	height: 400px;
	width: 798px;
}
#box-4-name{

	font-weight: bold;
	font-size: 15px;
}


#box-4-r1{
	border: 1px solid black;
}


tr, td{
		border: 1px solid black;
	
}
#section{
	width: 200px;
}
#box-5{
	border: 1px solid black;	
	margin-top: 130px;
	float : left;
	height: 520px;
	width: 1200px;
}
#box-5-name{
	margin:0px;
}
#box-5-r1-c1-d1{
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	
}
#box-5-r2-table{

	float : left;
	height: 400px;
	width: 1200px;
}
#box-6{

	height: 400px;
	width: 590px;
	float: left;
}

#box-6-name{
	margin-bottom: 0;
	margin-left: 5px;
	font-weight: bold;
	font-size: 15px;
}

#box-6-r1-c1{
	height: 80px;
	border: 1px solid black;
	width: 476px;
	float: left;
}

#box-6-r1-c2{
	height: 80px;	
	border: 1px solid black;
	width: 110px;
	float: right;
}

#box-6-r2{

	float: left;
	height: 80px;	
	border: 1px solid black;
	width: 588px;

}
#box-6-r3{

	float: left;
	height: 80px;	
	border: 1px solid black;
	width: 588px;

}
#box-6-r4{

	float: left;
	height: 80px;	
	border: 1px solid black;
	width: 588px;

}
#box-7{

	height: 400px;
	width: 590px;
	float: left;
}

#box-7-name{
	margin-bottom: 0;
	margin-left: 5px;
	font-weight: bold;
	font-size: 15px;
}

#box-7-r1-c1{
	height: 60px;
	border: 1px solid black;
	width: 476px;
	float: left;
}

#box-7-r1-c2{
	height: 60px;	
	border: 1px solid black;
	width: 110px;
	float: right;
}

#box-7-r2{

	float: left;
	height: 60px;	
	border: 1px solid black;
	width: 588px;

}
#box-7-r3{

	float: left;
	height: 60px;	
	border: 1px solid black;
	width: 588px;

}
#box-7-r4-c1,#box-7-r4-c2{

	float: left;
	height: 60px;	
	border: 1px solid black;
	width: 195px;

}
#box-7-r5-c1{
	float: left;
	height: 60px;	
	border: 1px solid black;
	width: 392px;

}
#box-7-r5-c2,#box-7-r4-c3{
	margin-top:-62px;
	float: right;
	height: 60px;	
	border: 1px solid black;
	width: 195px;

}
#box-7-r1-c1-dt1,#box-7-r1-c1-dt2{
	margin-top:0px;
}
#box-8{

	height: 400px;
	width: 590px;
	float: right;
}

#box-8-name{
	margin-bottom: 0;
	margin-left: 5px;
	font-weight: bold;
	font-size: 15px;
}

#box-8-r1{
	height: 150px;
	border: 1px solid black;
	width: 590px;

}

#box-8-r2{

	height: 20px;
	border: 1px solid black;
	width: 590px;

}

#box-8-r2-c1{
	height: 175px;
	border: 1px solid black;
	width: 246px;
	float: left;

}

#box-8-r2-c2{
	float: left;
	height: 175px;
	border: 1px solid black;
	width: 178px;
	margin-top: -177px;
	margin-left: 248px;
}

#box-8-r2-c3{
	margin-top: -177px;	
	float: right;
	height: 175px;
	border: 1px solid black;
	width: 160px;

}
#box-8-r2-c1-d1-dt1,#box-8-r2-c2-d1-dt1,#box-8-r2-c3-d1-dt1{
		margin-top: 0px;	
}


#box-9{

	height: 400px;
	width: 590px;
	float: right;
}
#box-9-name{
	margin-bottom: 0;
	margin-left: 5px;
	font-weight: bold;
	font-size: 15px;
}
#box-9-r1{
	height: 60px;
	border: 1px solid black;
	width: 590px;

}
#box-9-r2{
	height: 60px;
	border: 1px solid black;
	width: 590px;

}
#box-9-r3{
	height: 60px;
	border: 1px solid black;
	width: 590px;

}
#box-9-r4{
	height: 60px;
	border: 1px solid black;
	width: 590px;

}
#box-9-r5{
	height: 60px;
	border: 1px solid black;
	width: 590px;

}
